<h1>This is a show page</h1>

<ul>
	<li>
		<%= @show.venue %>
	</li>
	<li>
		<%= @show.city %>
	</li>
	<li>
		<%= @show.date %>
	</li>
	<li>
		<%= @show.price %>
	</li>
	<li>
		<%= @show.artist %>
	</li>

</ul>




